/*
 * bootstrap defaults to small size.  I override font sizes for
 * screens >= 992px.
 */

h1 {font-size: 6vw;}
h2 {font-size: 5vw;}
h3 {font-size: 4vw;}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 3vw;
  background-color: #d0cece;
}

.menu-bar {
  background-color: #d0cece;
}

.card {
  background-color: white;
  margin-left: 15px;
  padding-left: 2px;
  margin-bottom: 15px;
  height: 35vh;
  overflow-y: scroll;
}


@media (min-width: 992px) {
  h1 {font-size: 36px;}
  h2 {font-size: 28px;}
  h3 {font-size: 24px;}
  body {font-size: 16px;}
}

.text-colorful {
  color: #16da19;
}

.text-thin {
  font-weight: 100;
}

.text-bold {
  font-weight: 800;
}

.text-huge {
  font-size: 60px;
}
